body {
    background-color: #eee;
}
.imeg {
    position: absolute;
    left: 273px;
    height: 88px;
    width: 95px;

}
.est {
    color: blue;
    font-size: large;
    width: 248px;
    position: absolute;
    left: 371px;
}
.one {
    background-color: rgb(71 39 11);
    width: 256px;
    height: 307px;
    color: #eee;
    font-family: sans-serif;
    position: absolute;
    top: 286px;
    left: 173px;
    padding: 30px;
}
.hone {
    color: #ff6b05;
    font-size:x-large;
    width: 234px;
    position: relative;
    left: 534px;
    top: 248px;
}
.pra {
    width: 231px;
    height: 117px;
    padding: 35px;
    position: absolute;
    top: 373px;
    left: 507px;
    color: slategrey;
}
.line {
height: 144px;
position: absolute;
    left: 794px;
    top: 296px;
}
.htwo {
color: #ff6b05;
    position: relative;
    left: 779px;
    top: 58px;
    font-size: large;
    width: 238px;
    padding: 39px;
}
.pra-two {
    width: 256px;
    position: relative;
    left: 814px;
    color: slategrey;
}
.imeg-three {
    position: absolute;
    top: 740px;
    left: 200px;
}
.imeg-two{
    position: absolute;
    top: 722px;
    left: 473px;
}
.nde {
    color: coral;
    font-size: x-large;
    position: absolute;
    top: 888px;
    left: 168px;
}
.imeg-four {
    position: absolute;
    left: 483px;
    top: 1020px;
}
.imeg-five {
    position: absolute;
    left: 183px;
    top: 1020px;
}
.imeg-six {
    position: absolute;
    top: 1020px;
    left: 690px; 
}
.imeg-seven {
    position: absolute;
    top: 1026px;
    left: 913px;
}
.aaa{
    position: absolute;
    top: 1229px;
    left: 102px;
    font-size: xx-large;
    color: #100cc8;
}
.links {
    display: block;
    padding: 30px 25px;
    font-size: 18px;
    font-family: sans-serif;
    color: #502305;
    background: #d5d1d1;
    margin: 0px 1px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    bottom: 800px;
    left: 742px;
    width: 455px;
}
.box {
    border: 1px;
    border-color:rgb(165, 163, 163) ;
    border-style: solid;
}